---
openapi: "3.0.3"
info:
  title: "Swagger Petstore - OpenAPI 3.0"
  version: "1.0.11"
  description: "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.\
    \  You can find out more about\nSwagger at [https://swagger.io](https://swagger.io).\
    \ In the third iteration of the car store, we've switched to the design first\
    \ approach!\nYou can now help us improve the API whether it's by making changes\
    \ to the definition itself or to the code.\nThat way, with time, we can improve\
    \ the API in general, and expose some of the new features in OAS3.\n\n_If you're\
    \ looking for the Swagger 2.0/OAS 2.0 version of Petstore, then click [here](https://editor.swagger.io/?url=https://carstore.swagger.io/v2/swagger.yaml).\
    \ Alternatively, you can load via the `Edit > Load Petstore OAS 2.0` menu option!_\n\
    \nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-carstore)\n\
    - [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-carstore/blob/master/src/main/resources/openapi.yaml)"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "http://gateway.local.gd:8080/odoo/account/1.0"
    description: "The Gateway: This is the default gateway."
paths:
  /car/fleetContract/v1:
    post:
      requestBody:
        description: "Create a new car in the store"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/carRequest"
        required: true
      tags:
        - "car"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/carResponse"
          description: "Successful operation"
        "405":
          description: "Invalid input"
      security:
        - BearerAuth: []
      operationId: "addCar"
      summary: "Add a new car to the store"
      description: "Add a new car to the store"
components:
  schemas:
    Tag:
      type: "object"
      properties:
        id:
          format: "int64"
          type: "integer"
        name:
          type: "string"
      xml:
        name: "tag"
    carRequest:
      type: "object"
      properties:
        car_number:
          type: "string"
    carResponse:
      type: "object"
      properties:
        customer_name:
          type: "string"
        driver_name:
          type: "string"
        start_date:
          type: "string"
        end_date:
          type: "string"
        duration:
          type: "string"
        kilometers:
          type: "string"
        agency_name:
          type: "string"
    responses:
      UnauthorizedError:
        description: "Access token is missing or invalid"
  securitySchemes:
    bearerAuth:
      scheme: "bearer"
      bearerFormat: "JWT"
      type: "http"
tags:
  - name: "car"
    description: "Everything about your Pets"
    externalDocs:
      description: "Find out more"
      url: "http://swagger.io"
  - name: "store"
    description: "Access to Petstore orders"
    externalDocs:
      description: "Find out more about our store"
      url: "http://swagger.io"
  - name: "user"
    description: "Operations about user"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
